node_modules/
public/dist/
config.php
config/config.php
package-lock.json
composer.lock
composer.phar
vendor

# For Macintosh users
.DS_Store

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
