<div class="col-sm-2">
	<div class="card">
		<a href="{{ path('blog.admin.index') }}">
			<div class="card-block">
				<div class="card-title">Products</div>
				<h3 class="card-text">{{ count }}</h3>
			</div>
		</a>
	</div>
</div>