<div class="col-sm-2">
	<div class="card">
		<div class="card-block">
			<div class="card-title">
				Total income this month
			</div>
			<h3 class="card-text">{{ total | price_format }}</h3>
		</div>
	</div>
</div>