$debug: false;

$default-font-size: 0.875rem;

$bg-primary: #282c34;
$bg-primary-dark: #070709;
$bg-primary-light: #49515f;

$bg-secondary: #5ba3df;
$bg-secondary-dark: #277ec7;
$bg-secondary-light: #9bc7eb;
