<h4>You asked to reset your password:</h4>

<b>Click this button to continue:</b>
<a href="{{ domain }}{{ path('auth.reset', {id: id, token: token}) }}">
    <button style="background-color:cornflowerblue;color:white;padding:.25rem .5rem;border:0;">
        Here
    </button>
</a>